<nav class="main-nav">
    <div class="container">
        <ul>
            <li {% if data.title == "Home" %} class="active" {% endif %}><a href="/">Home</a></li>
            <li {% if data.title == "Program" %} class="active" {% endif %}><a href="/program">Program</a></li>
            <li {% if data.title == "Our Partners" %} class="active" {% endif %}><a href="/partners">Partners</a></li>
            {# <li {% if data.title == "Ons team" %} class="active" {% endif %}><a href="/team">Team</a></li> #}
            {# <li {% if data.title == "Contact" %} class="active" {% endif %}><a href="/contact">Contact</a></li> #}
            <li {% if data.title == "Student work" %} class="active" {% endif %}><a href="/student-work">Student work</a></li>
            {# <li {% if data.title == "Sign up" %} class="active" {% endif %}><a href="#" class="btn btn-primary">Sign up!</a></li> #}
        </ul>
    </div>
</nav>