<main id="main">
  {% block content %} {% for period in data.periods %} {% if period.period %}
  <section class="timeline-wrapper focusOnScroll">

    <div class="row-gray row-1"></div>
    <div class="row-gray row-2"></div>

    <section class="timeline">
      <div class="period period-week period-header">
        Periode: {{ period.period }}
      </div>

      {% for week in period.weeks %}
      <div class="period-week week week-{{week}}">
        Week: {{ week }}
      </div>
      {% endfor %} {% for course in period.courses %} {% if course.course_type == "COURSE" %}
      <article class="card card-interactive course-{{ course.page_slug }}">
        <header>
          <h5>{{ course.course_name }}</h5>
          <h6>{{ course.course_description }}</h6>
        </header>
        {% for week in course.weeks %}
        <div class="week">
          <p class="hidden-desktop-hd">Week {{week.week}}</p>
          <p>{{ week.description }}</p>
        </div>
        {% endfor %}
        <a class="focusable card-link" href="/program/{{ course.page_slug }}">Open {{ course.course_name }}</a>
      </article>

      {% elseif course.type == "speakers" %}

      <article class="card card-interactive course-{{ course.page_slug }}">
        <header>
          <h5>{{ course.name }}</h5>
          <h6>{{ course.description }}</h6>
        </header>
        {% for week in course.weeks %}
        <div class="week">
          <p class="hidden-desktop-hd">Week {{week.week}}</p>
          <img src="{{ week.imgSrc }}" class="avatar" alt="">
          <a class="course-{{ course.abbreviation }}" href="/weekly-nerd">{{ week.name }}</a>
          <p class="meta">{{ week.description }}</p>
        </div>
        {% endfor %}
        <a class="focusable card-link" href="/program/{{ course.page_slug }}">Open {{ course.name }}</a>
      </article>

      {% elseif course.course_type == "PROJECT" %}
      <article class="card card-interactive course-project">
        <header>
          <h5>{{ course.course_name }}</h5>
          <h6>{{ course.course_partner }}</h6>
          <span class="meta">End of {{ period.period }}</span>
        </header>
        <p>{{ course.description }}</p>
        <a class="focusable card-link" href="/program/{{ course.page_slug }}">Open {{ course.name }}</a>
      </article>

      {% endif %} {% endfor %}
    </section>
  </section>

  {% endif %}{% endfor %} {% endblock %}
</main>