.header-info.trans,
.header-img.trans {
    opacity: 0;
    transform: translateX(-20px);
}

.header-info.start-transition {
    transition: all .3s ease-in-out .2s;
    transform: none;
    opacity: 1;
}

.header-img.start-transition {
    transition: all .5s ease-in-out .4s;
    transform: none;
    opacity: 1;
}

@media (max-width: $tablet) {
    .course-info {
        grid-template-columns: 100%;
    }
    .course-header .container {
        .header-img.delighter {
            opacity: 0;
        }
        .header-img.delighter.started {
            grid-column: 1 / 13;
            transform: none;
            opacity: 0.6;
        }
    }
}

.course-card-list.trans {
    .course-card {
        transform: translateY(20px);
        opacity: 0;
    }
}

.course-card-list.start-transition {
    .course-card {
        transform: none;
        opacity: 1;
        transition: all .5s ease-in-out;
    }
    .course-card:nth-of-type(2) {
        transition-delay: .2s;
    }
    .course-card:nth-of-type(3) {
        transition-delay: .4s;
    }
}

.partners-team-wrapper {

    article.trans img,
    article.trans h2,
    article.trans p,
    article.trans a {
        opacity: 0;
        transform: translateY(10px);
    }

    article.trans.start-transition img,
    article.trans.start-transition h2,
    article.trans.start-transition p,
    article.trans.start-transition a {
        transition: all .5s ease-in-out;
        transform: translateY(0);
        opacity: 1;
    }

    article.trans.start-transition h2 {
        transition-delay: .3s
    }

    article.trans.start-transition p {
        transition-delay: .6s
    }

    article.trans.start-transition a {
        transition-delay: .9s
    }
}

.course-info.trans li,
.course-info.trans p {
    transition: all .5s ease-in-out;
    opacity: 0;
    transform: translateX(10px);
}

.course-info.trans.start-transition li,
.course-info.trans.start-transition p {
    transform: none;
    opacity: 1;
}

.signup-wrapper .form-submit {
    height: 13rem;
    label {
        animation: submit-form 1s cubic-bezier(0.430, 0.005, 0.000, 0.995) forwards;
    }

    input[type="submit"] {
        width: 3.5rem;
        margin: $margin-32 auto;
        transition: none;
        color: $primary-color;
        background-color: $primary-color;
        transform: none;
        display: block;
        position: relative;
        bottom: 0;
        &:hover {
            background-color: $primary-color;
            transform: none;
        }
    }
}

@keyframes submit-form {
    0% {
        opacity: 1;
        height: 90px;
    }

    50% {
        height: 0;
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        height: 0;
        margin: 0;
        opacity: 0;
    }
}

.button-pulse {
    box-shadow: 0 7px 28px rgba(61, 25, 91, 0.25);
}

.btn.button-pulse:hover,
.btn.button-pulse:focus {
    animation: button-pulse infinite 1.5s ease-in-out;
    background: $primary-color;
}

@keyframes button-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 7px 28px rgba(61, 25, 91, 0.25);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 20px 28px rgba(61, 25, 91, 0.25);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 7px 28px rgba(61, 25, 91, 0.25);
    }
}

.home-courses article.trans {
    opacity: 0;
    transform: translateY(20px);
}

.home-courses article.trans.start-transition {
    transition: all .5s ease;
    opacity: 1;
    transform: none;
}

.home-courses article:nth-of-type(2).trans.start-transition {
    transition: 
        opacity .5s ease .3s,
        transform .5s ease .3s;
}

.home-courses article:nth-of-type(3).trans.start-transition {
    transition: 
        opacity .5s ease .6s,
        transform .5s ease .6s;
}

.home-courses article:nth-of-type(5).trans.start-transition {
    transition: 
        opacity .5s ease .3s,
        transform .5s ease .3s;
}

.home-courses article:nth-of-type(6).trans.start-transition {
    transition: 
        opacity .5s ease .6s,
        transform .5s ease .6s;
}

.student-work-list.trans {
    article {
        opacity: 0;
    }
}

.student-work-list.trans.start-transition {

    article:nth-of-type(2) {
        transition-delay: .2s;
    }
    
    article:nth-of-type(3) {
        transition-delay: .4s;
    }

    article:nth-of-type(4) {
        transition-delay: .6s;
    }

    article:nth-of-type(5) {
        transition-delay: .8s;
    }

    article:nth-of-type(6) {
        transition-delay: 1s;
    }

    article {
        opacity: 1;
        transition: 
            opacity .3s ease-in-out;
    }
}