.header-info.delighter {
    transition: all .5s ease-in-out;
    transform: translateX(-20px);
    opacity: 0;
}

.header-info.delighter.started {
    transform: none;
    opacity: 1;
}

.header-img.delighter {
    transition: all .5s ease-in-out;
    transition-delay: .8s;
    transform: translateX(-20px);
    opacity: 0;
}

.header-img.delighter.started {
    transform: none;
    opacity: 1;
}

.course-card-list.delighter {
    .course-card {
        transition: all .5s ease-in-out;
        transform: translateY(20px);
        opacity: 0;
    }
}

.course-card-list.delighter.started {
    .course-card {
        transform: none;
        opacity: 1;
    }
    .course-card:nth-of-type(2) {
        transition-delay: .2s;
    }
    .course-card:nth-of-type(3) {
        transition-delay: .4s;
    }
}

.partner-article.delighter img,
.partner-article.delighter h2,
.partner-article.delighter p,
.partner-article.delighter a {
    transition: all .5s ease-in-out;
    opacity: 0;
    transform: translateY(10px);
}

.partner-article.delighter.started img,
.partner-article.delighter.started h2,
.partner-article.delighter.started p,
.partner-article.delighter.started a {
    transform: translateY(0);
    opacity: 1;
}

.partner-article.delighter.started h2 {
    transition-delay: .3s
}

.partner-article.delighter.started p {
    transition-delay: .6s
}

.partner-article.delighter.started a {
    transition-delay: .9s
}

.course-list.delighter li {
    transition: all .5s ease-in-out;
    opacity: 0;
    transform: translateX(10px);
}

.course-list.delighter.started li {
    transform: none;
    opacity: 1;
}

.course-list.delighter li:nth-of-type(2) {
    transition-delay: .3s;
}

.course-list.delighter li:nth-of-type(3) {
    transition-delay: .6s;
}