*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: $body-color;
    font-family: $font-family;
    font-size: $body-font-size;
    line-height: $body-line-height;
}
.center {
    margin: 0 auto;
}
.container {
    max-width: 80vw;
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100% / 2;
    }
    .col-4 {
        width: 100% / 4;
    }
    .col-6 {
        width: 100% / 6;
    }
    .col-8 {
        width: 100% / 8;
    }
}

body>header,
main {
    margin: 0 auto;
    max-width: 80rem;
    width: 95%;
}