*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: $body-color;
  font-family: $font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  // padding-top: $padding-72;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden-desktop {
  @include min-desktop {
    display: none;
  }
}

.hidden-desktop-hd {
  @include min-desktop-hd {
    display: none;
  }
}

body > header {
  margin-bottom: 5rem;
  padding: 7rem 0 4rem 0;

  h1 {
    max-width: 50em;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.8em;
    line-height: 1.4em;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    max-width: 54rem;
    margin-bottom: 1rem;
  }

  &:not(.hero) {
    h1 {
      line-height: 1.3;

      select {
        z-index: 1;
      }
    }

    span {
      -webkit-box-decoration-break: clone;
      background-color: $secondary-color;
      box-decoration-break: clone;
      display: inline;
      padding: $padding-24;
      color: white;
    }
  }
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  width: 95%;

  @include max-mobile {
    padding: 0 2rem;
    width: 100%;
  }
}

.icon {
  height: 1em;
  width: 1em;
}

.icon-24 {
  width: rem(24);
  height: rem(24);
}

.icon-32 {
  width: rem(32);
  height: rem(32);
}

.avatar {
  border-radius: 50%;
}

.hotkey {
  display: inline-block;
  font-size: rem(11);
  letter-spacing: 0;
  padding: rem(4) rem(4);
  color: #fff;
  border-radius: rem(3);
  border: 1px solid #ffffff;
  white-space: nowrap;
  transform: translateY(3.75rem);
  position: relative;
  z-index: $zindex-hotkey;
}
