*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: $body-color;
    font-family: $font-family;
    font-size: $body-font-size;
    line-height: $body-line-height;
}
.center {
    margin: 0 auto;
}
.container {
    max-width: 80vw;
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100% / 2;
    }
    .col-4 {
        width: 100% / 4;
    }
    .col-6 {
        width: 100% / 6;
    }
    .col-8 {
        width: 100% / 8;
    }
}

@media (max-width:62em) {
    .container {
        max-width: 100%;
        .col-t-1 {
            max-width: 100%;
        }
        .col-t-2 {
            max-width: 100% / 2;
        }
        .col-t-4 {
            max-width: 100% / 4;
        }
    }
}

@media (max-width:48em) {
    .container {
        max-width: 100%;
        .col-m-1 {
            max-width: 100%;
        }
        .col-m-2 {
            max-width: 100% / 2;
        }
        .col-m-4 {
            max-width: 100% / 4;
        }
    }
}

body>header,
main {
    margin: 0 auto;
    max-width: 80rem;
    width: 95%;
}

.icon {
    height: 16px;
    width: 16px;
}

.avatar {
    border-radius: 50%;
}