*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: $body-color;
  font-family: $font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  padding-top: $padding-72;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden-desktop {
  display: none;
}

body > header {
  margin-bottom: 5rem;
  padding: 7rem 0 4rem 0;

  h1 {
    max-width: 50em;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.8em;
    line-height: 1.4em;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    max-width: 54rem;
    margin-bottom: 1rem;
  }
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  width: 95%;
}

.icon {
  height: 1em;
  width: 1em;
}

.avatar {
  border-radius: 50%;
}
