a.btn {
  display: inline-block;
  text-decoration: none;
}
button,
input[type="submit"],
input[type="reset"],
.btn {
  font-size: 1em;
  font-weight: $semi-bold;
  background: $btn-basic-background;
  cursor: pointer;
  transition: 0.2s;
  margin: 1em;
  border: 0;
  border-radius: 2rem;
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:disabled {
    opacity: 0.5;
    cursor: auto;
    background: whitesmoke;
  }
  &:disabled:hover {
    transform: none;
  }
  &:hover, &:focus {
    transform: scale(1.05);
  }
  &:active {}
}
.btn-link {
  border: 0;
}

.btn-primary {
  background: $btn-primary-background;
  border-color: $btn-primary-border-color;
  color: $btn-primary-color;
  &:hover, &:focus {
    background: $btn-primary-focus-background;
  }
}

.btn-cta {
  background: $btn-cta-background;
  border-color: $btn-cta-border-color;
  color: $btn-cta-color;
  &:hover, &:focus {
    background: $btn-cta-focus-background;
  }
}

.btn-danger {
  background: $btn-danger-background;
  border-color: $btn-danger-border-color;
  color: $btn-danger-color;
  &:hover, &:focus {
    background: $btn-danger-focus-background;
  }
}

.btn-warning {
  background: $btn-warning-background;
  border-color: $btn-warning-border-color;
  color: $btn-warning-color;
  &:hover, &:focus {
    background: $btn-warning-focus-background;
  }
}

.btn-success {
  background: $btn-success-background;
  border-color: $btn-success-border-color;
  color: $btn-success-color;
  &:hover, &:focus {
    background: $btn-success-focus-background;
  }
}