a.btn {
  display: inline-block;
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"],
.btn {
  box-shadow: none;
  font-size: 1em;
  font-weight: $semi-bold;
  background: $btn-basic-background;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 1rem;
  border: none;
  border-radius: 2rem;
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  &:disabled {
    opacity: 0.5;
    cursor: auto;
    background: whitesmoke;
  }
  &:disabled:hover {
    transform: none;
  }
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.btn-small {
  padding: 0.75rem 2rem;
  font-size: 0.875rem;
  letter-spacing: 0;
}

.btn-link {
  border: none;
}

button.btn-primary,
input[type="submit"].btn-primary,
input[type="reset"].btn-primary,
.btn.btn-primary {
  background: $btn-primary-background;
  border: none;
  color: $btn-primary-color;
  &:hover,
  &:focus {
    color: white;
    background: $btn-primary-focus-background;
  }
}

.btn-cta {
  background: $btn-cta-background;
  border: none;
  color: $btn-cta-color;
  &:hover,
  &:focus {
    background: $btn-cta-focus-background;
  }
}

.btn-danger {
  background: $btn-danger-background;
  border: none;
  color: $btn-danger-color;
  &:hover,
  &:focus {
    background: $btn-danger-focus-background;
  }
}

.btn-warning {
  background: $btn-warning-background;
  border: none;
  color: $btn-warning-color;
  &:hover,
  &:focus {
    background: $btn-warning-focus-background;
  }
}

.btn-success {
  background: $btn-success-background;
  border: none;
  color: $btn-success-color;
  &:hover,
  &:focus {
    background: $btn-success-focus-background;
  }
}
