.carousel {
  display: flex;
  > a {
    width: 10em;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  > a img {
    filter: grayscale(1);
  }
  > a:last-child img {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  > a:hover {
    // background: $accent-color;
  }
  > a:hover img,
  a:focus img {
    filter: grayscale(0);
  }
  ul {
    padding: 2em;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    justify-content: space-between;
  }

  li {
    position: relative;
    outline: 0;
    transition: 0.3s ease;
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    list-style: none;
    width: calc(30% - 13.34px);
    margin: 0 60px 0 0;
    background: $accent-color;

    &:hover,
    &:focus-within {
      border-color: $primary-color;
      transform: scale(1.2);
    }
    img {
      width: 100%;
      height: 100%;
    }
    .link {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      font-size: 0;
      line-height: 0;

      &:focus {
        outline: 0;
      }
    }
  }
}
