.card {
  background-color: #fff;
  box-shadow: $card-shadow;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  position: relative;
  transition: all .3s ease;
}

.card:focus-within,
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 .5rem 0.5rem rgba(0, 0, 0, 0.08);
  border: solid $primary-color 1px;
  outline: 0;
}
 
.card a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: 0;
}

.card-interactive {
  @include transitionCubic();

  .card-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    line-height: 0;
    z-index: $zindex-card;

    &:focus {
      outline: 0;
    }
  }

  a:not(.card-link) {
    z-index: $zindex-card-link;
  }

  &:hover,
  &:focus-within {
    border-color: $primary-color;
    transform: scale(1.035);
  }
}
