.contact-header {
  background: linear-gradient(
      rgba($secondary-color, 0.75),
      rgba($secondary-color, 0.75)
    ),
    url(/img/contact-header.png);
  background-size: cover;
  color: white;
  padding-bottom: 13.5rem;
  p {
    color: white;
  }
}

.contact-wrapper {
  background-color: white;
  border-radius: 0.1875rem;
  max-width: 64rem;
  box-shadow: 0 0.4375rem 1.75rem rgba(61, 25, 91, 0.15),
    0 0.3125rem 0.625rem rgba(61, 25, 91, 0.12);
  margin-top: -15rem;
  h2,
  legend {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: $margin-24;
  }
  form {
    padding: $padding-32;
    grid-column: 1 / 8;
    fieldset {
      border: none;
      display: flex;
      flex-wrap: wrap;
      > div {
        width: 100%;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  section {
    background-color: $secondary-color;
    color: white;
    grid-column: 8 / 13;
    padding: $padding-32;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-bottom: $margin-48;
    }
  }
}
