.contact-wrapper {
  box-shadow: 0 7px 28px rgba(61, 25, 91, 0.15),
    0 5px 10px rgba(61, 25, 91, 0.12);
  border-radius: 3px;
  form {
    padding: 2.5rem 1rem;
    grid-column: 1 / 8;
    fieldset {
      border: none;
      display: flex;
      flex-wrap: wrap;
    }
    label {
      width: calc(50% - 10px);
      margin-right: 20px;
      color: #9e9e9e;
      font-size: 0.75rem;
      &:last-of-type {
        width: 100%;
      }
      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
    input,
    textarea {
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 1px solid #cfd8dc;
      padding: 8px 0;
      font: inherit;
      margin-bottom: 1.5rem;
      font-size: 1rem;
    }

    textarea {
      margin-bottom: none;
      resize: none;
    }
  }
  section {
    padding: 2.5rem 1rem;
    grid-column: 8 / 13;
    background-color: $primary-color;
    color: white;
    h2 {
      margin-top: 0;
    }
  }
}
