.contact-header {
  background: linear-gradient(
      rgba($secondary-color, 0.75),
      rgba($secondary-color, 0.75)
    ),
    url(/img/contact-header.png);
  background-size: cover;
  color: white;
  padding-bottom: 13.5rem;
  p {
    color: white;
  }
}

.contact-wrapper {
  background-color: white;
  border-radius: 3px;
  max-width: 1024px;
  box-shadow: 0 7px 28px rgba(61, 25, 91, 0.15),
    0 5px 10px rgba(61, 25, 91, 0.12);
  margin-top: -15rem;
  h2,
  legend {
    font-size: 24px;
    margin: 0;
    margin-bottom: $margin-24;
  }
  form {
    padding: $padding-32;
    grid-column: 1 / 8;
    fieldset {
      border: none;
      display: flex;
      flex-wrap: wrap;
      > div {
        margin-right: 20px;
        overflow: hidden;
        position: relative;
        width: calc(50% - 10px);
        &:nth-of-type(even) {
          margin-right: 0;
        }
      }
    }
    label {
      color: #9e9e9e;
      font-size: 0.75rem;
      margin-right: 20px;
      padding: 7px 6px;
      position: absolute;
      &:last-of-type {
        width: 100%;
      }
    }
    input:not([type="submit"]),
    textarea {
      background: none;
      border: none;
      border-bottom: 1px solid #cfd8dc;
      border-radius: 0;
      box-shadow: none;
      display: block;
      font-size: 1rem;
      font: inherit;
      left: 0;
      margin-bottom: 1.5rem;
      outline: 0;
      padding: 8px 0;
      padding: 8px 12px;
      position: relative;
      top: 0;
      width: 100%;
      z-index: 1;

      &:valid {
        background: white;
      }
      &:focus {
        border-color: $primary-color;
      }
      &:focus + label {
        background: $primary-color;
        color: white;
        padding: 1px 6px;
        z-index: 2;
        text-transform: uppercase;
      }
    }
    input[type="submit"] {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    textarea {
      margin-bottom: none;
      resize: none;
    }
  }
  section {
    padding: $padding-32;
    grid-column: 8 / 13;
    background-color: $primary-color;
    color: white;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin-bottom: $margin-48;
    }
  }
}

form.go-bottom {
  input,
  textarea {
    padding: 12px 12px 12px 12px;
  }
  label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  input:focus + label,
  textarea:focus + label {
    top: 100%;
    margin-top: -25px;
  }
}
