.course-header .container {
  div {
    grid-column: 1 / 7;
    grid-row: 1;
    width: 100%;
    z-index: 1;
    p {
      background-color: white;
      padding: 1rem 1rem 1rem 0;
    }
  }
  >img {
    border-radius: 10px;
    grid-column: 6 / 13;
    grid-row: 1;
    width: 100%;
  }
}

.course-info {
  display: grid;
  grid-template-columns: calc(50% - 2rem) calc(50% - 2rem);
  grid-column-gap: 4rem;
  margin: 2rem 0 6rem 0;
  section {
    h2 {
      margin-bottom: 0.5rem;
    }
    li {
      padding-left: 0.4em;
      list-style-image: url("/img/icons/bullet.svg");
    }
  }
}

.course-list {
  padding-left: 1.2rem;
  li {
    margin: 0.5rem 0;
  }
}

.course-card-overview {
  .course-btn {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    a {
      display: block;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .course-info {
    grid-template-columns: 100%;
  }
}

.other-courses {
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      @extend .btn-primary;
      padding: 1rem 2rem;
      display: block;
      width: calc(25% - 2rem);
      margin: 1rem 0;
      text-align: center;
      border-radius: 2em;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}

@media (max-width: 992px) {
  .other-courses {
    div {
      a {
        width: calc(50% - 1rem);
        margin: 1rem 0;
      }
    }
  }
}