.course-header .container {
  > div {
    grid-column: 1 / 7;
    grid-row: 1;
    width: 100%;
    z-index: 1;
    > div > p {
      background-color: white;
      padding: 1rem 1rem 1rem 0;
    }
  }
  > img {
    border-radius: 10px;
    grid-column: 6 / 13;
    grid-row: 1;
    width: 100%;
  }
}
.course-info {
  display: grid;
  grid-template-columns: calc(50% - 2rem) calc(50% - 2rem);
  grid-column-gap: 4rem;
  margin: 2rem 0 6rem 0;
  section {
    h2 {
      margin-bottom: 0.5rem;
    }
    li {
      padding-left: 0.4em;
      list-style-image: url("/img/icons/bullet-purple.svg");
    }
  }
}

.course-list {
  padding-left: 1.2rem;
  li {
    margin: 0.5rem 0;
  }
}

.course-card-overview {
  .course-btn {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    a {
      background: $primary-color;
      color: $white;
      display: block;
      margin: 0;
    }
  }
}

.other-courses {
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      @extend .btn;
      color: $black;
    }
  }
}

.student-quote {
  margin: 5rem 0;
  .testimonial {
    margin: 0 auto;
    p:last-of-type {
      font-weight: 700;
    }
  }
}

@media (max-width: $desktop) {
  .other-courses {
    div {
      a {
        width: calc(50% - 1rem);
        margin: 1rem 0;
      }
    }
  }
  .course-header .container {
    div {
      grid-column: 1 / 9;
    }
  }
}

@media (max-width: $tablet) {
  .course-info {
    grid-template-columns: 100%;
  }
  .course-header .container {
    > div {
      grid-column: 1 / 13;
      margin-top: 14%;
      div p {
        background-color: rgba(255,255,255,0);
      }
    }

    >img {
      grid-column: 1 / 13;
      opacity: 0.6;
    }
  }

  .student-quote {
    .testimonial {
      display: block;
      img {
        margin: 0 auto;
        display: block;
      }
    }
  }
}