.course-card-list {
    display: flex;
    justify-content: space-between;
    .course-card {
        padding: 3em;
        margin-right: 4em;
        background: $secondary-color;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        a {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
         }
        p {
            text-align: justify;
            color: #fff;
        }
        h3 {
            text-align: center;
            color: $primary-color;
        }
        img {
            width: 10em;
            height: 10em;
            display: block;
            margin: 0 auto;
        }
    }
}