.main-footer {
  background-color: #1b0b28;
  border-top: solid rgb(97, 97, 97) 1px;
  color: white;
  div {
    width: 80%;
    padding: 2em 0;
    margin: 10rem auto 0;
    display: flex;
    justify-content: space-around;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin: 0.2rem 0;
      }
    }
  }
}