.main-footer {
  background-color: $secondary-color;
  border-top: solid rgb(97, 97, 97) 1px;
  color: white;
  margin-top: 5rem;
  div {
    padding-top: $padding-64;
    padding-bottom: $padding-64;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
    grid-gap: $margin-24 $margin-24;
    @include max-mobile {
      text-align: center;
    }
  }
  a {
    display: block;
    color: lighten($primary-color, 35%);
    span {
      transition: border-left 0.3s ease, background-color 0.3s ease,
        box-shadow 0.3s ease;
    }
    &:hover,
    &:focus {
      outline: 0;
      border-left: solid transparent 20px;
      color: $primary-color;
      span {
        box-shadow: 0px 0px 0px 8px $white;
        background-color: $white;
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: 0.2rem 0;
    padding: $padding-8 0;
  }
  .skip-course-menu {
    position: absolute;
    top: -1rem;
    opacity: 0;
    &:focus {
      opacity: 1;
    }
  }
  section {
    position: relative;
  }
}