input,
select,
textarea {
    border-radius: $input-border-radius;
    border: $input-border;
    box-shadow: $input-box-shadow;
    color: $input-color;
    display: inline-block;
    padding: $input-padding;
    vertical-align: middle;
}

input:focus,
select:focus,
textarea:focus {
    outline: 0;
    border-color: $input-focus-border-color;
}

input:hover,
select:hover,
textarea:hover {
    outline: 0;
    border-color: $input-hover-border-color;
}

input[disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
    background-color: $input-disabled-background-color;
    color: $input-disabled-color;
}