.hero {
  min-height: 85vh;
  padding: 0;
  transition: background 0s linear !important;

  h1,
  p,
  a {
    color: initial;
    margin: 0;
    text-decoration: initial;
    text-transform: initial;
    transition: color 0s linear !important;
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;

    span {
      -webkit-box-decoration-break: clone;
      background-color: transparent;
      box-decoration-break: clone;
      display: inline;
      line-height: 1.35;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
  }

  a {
    background-color: #ffffff;
    color: #09012f;
    font-size: 1.25rem;
    display: inline-block;
    &:hover {
      animation: button-pulse infinite 1.5s ease-in-out;
    }
    &:focus {
      animation: button-pulse infinite 1.5s ease-in-out;
    }
  }

  .container {
    align-items: center;
    display: flex;
    min-height: 85vh;
  }

  .left {
    margin-right: 5rem;
    width: 55%;
  }

  .right {
    position: relative;
    width: 45%;
    margin-top: 4rem;
    > svg {
      left: -10rem;
      position: absolute;
      top: -3.5rem;
    }
  }

  pre {
    border-radius: 10px;
    border-top: 25px solid #e8e8e8;
    box-shadow: 4px 0 30px rgba(black, 0.33);
    height: 350px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #replayAnimation {
    background: 0;
    bottom: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 25px;

    svg {
      fill: $primary-color;
      height: 44px;
      width: 44px;
    }
  }

  @media only screen and (max-width: 995px) {
    .container {
      flex-direction: column;
      padding: 5rem 0;
    }

    .left {
      margin: 6rem 0 5rem;
      text-align: center;
      width: 100%;
    }

    .right {
      width: 80%;

      > svg {
        display: none;
      }
    }

    #replayAnimation {
      bottom: 1.5rem;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.home-courses {
  article {
    position: relative;
  }
  a {
    font-size: 0;
    height: 100%;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
