.hero {
  min-height: 100vh;
}

.home-courses {
  article {
    position: relative;
  }
  a {
    font-size: 0;
    height: 100%;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
