//// PX to Rem function ////
$browser-context: 16; // Default browser font size
@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

//// Mediaqueries ////
@mixin max-mobile() {
  @media (max-width: $max-mobile) {
    @content;
  }
}

@mixin min-tablet() {
  @media (min-width: $min-tablet) {
    @content;
  }
}

@mixin max-tablet() {
  @media (max-width: $max-tablet) {
    @content;
  }
}

@mixin max-tablet-hd() {
  @media (max-width: $max-tablet-hd) {
    @content;
  }
}

@mixin min-desktop() {
  @media (min-width: $min-desktop) {
    @content;
  }
}

@mixin max-desktop() {
  @media (max-width: $max-desktop) {
    @content;
  }
}

@mixin min-desktop-hd() {
  @media (min-width: $min-desktop-hd) {
    @content;
  }
}

@mixin max-desktop-hd() {
  @media (max-width: $max-desktop-hd) {
    @content;
  }
}

//// Transitions ////
@mixin transition($time: 0.1s, $property: all) {
  transition: ease-in-out $property $time;
}

@mixin transitionCubic($time: 0.175s) {
  transition: transform cubic-bezier(0.5, 1.42, 0.78, 1.46) $time,
    border-color ease-in-out $time;
  transform: translateZ(0);
}

//// Gradient ////
// Left arrow submenu
@mixin gradient-previous() {
  background: rgba(250, 250, 250, 1);
  background: -moz-linear-gradient(
    left,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 0.52) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(100%, rgba(250, 250, 250, 0.52))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 0.52) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 0.52) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 0.52) 100%
  );
  background: linear-gradient(
    to right,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 0.52) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa', GradientType=1 );
}

@mixin gradient-next() {
  background: rgba(250, 250, 250, 0.52);
  background: -moz-linear-gradient(
    left,
    rgba(250, 250, 250, 0.52) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(250, 250, 250, 0.52)),
    color-stop(100%, rgba(250, 250, 250, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(250, 250, 250, 0.52) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(250, 250, 250, 0.52) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(250, 250, 250, 0.52) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(250, 250, 250, 0.52) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa', GradientType=1 );
}
