//// PX to Rem function ////
$browser-context: 16; // Default browser font size
@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

//// Mediaqueries ////
@mixin max-mobile() {
  @media (max-width: $max-mobile) {
    @content;
  }
}

@mixin max-tablet() {
  @media (max-width: $max-tablet) {
    @content;
  }
}

@mixin min-desktop() {
  @media (min-width: $min-desktop) {
    @content;
  }
}

@mixin max-desktop() {
  @media (max-width: $max-desktop) {
    @content;
  }
}

@mixin min-desktop-hd() {
  @media (min-width: $min-desktop-hd) {
    @content;
  }
}

@mixin max-desktop-hd() {
  @media (max-width: $max-desktop-hd) {
    @content;
  }
}

// Custom mediaquery program overview
@mixin med-tablet() {
  @media (max-width: 830px) {
    @content;
  }
}

//// Transitions ////
@mixin transition($time: 0.1s, $property: all) {
  transition: ease-in-out $property $time;
}
