.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: $bottom-shadow;
  z-index: $zindex-nav;
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: $h3-font-size;
    margin: 0;
    @include transition;
  }
  .skip-to-content {
    position: absolute;
    padding: $padding-8 $padding-16;
    background-color: $primary-color;
    color: #fff;
    border-radius: rem(50);
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    transition: all 0.3 ease-in-out;
  }
  .skip-to-content:focus {
    z-index: 2;
    width: auto;
    height: auto;
    clip: auto;
  }
  .skip-to-content:focus + a h1 {
    opacity: 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  // main menu styling
  & div > ul {
    display: flex;
    & > li {
      margin-left: $margin-24;
      & > a {
        height: $padding-72;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        &:hover {
          border-bottom: 2px solid rgba($primary-color, 0.5);
        }

        @include transition();
      }
      &.active {
        & > a {
          color: $secondary-color;
          border-bottom: 2px solid $secondary-color;
        }
        span {
          border-color: $secondary-color;
        }
      }
      span {
        border: 1px $primary-color solid;
        font-size: 0.75rem;
        margin-right: 0.5rem;
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 1.25rem;
        height: 1.25rem;
        @include transition;
        &.inactive {
          opacity: 0.4;
        }
        @include min-desktop {
          display: inline-flex;
        }
      }
      &:first-child {
        margin: 0;
        align-items: center;
        display: inline-flex;
        border-bottom: 2px solid transparent;
        span {
          opacity: 0.4;
          width: auto;
          padding: 0 $padding-8;
          color: $primary-color;
          margin: 0;
          &.active {
            opacity: 1;
          }
        }
      }
    }
  }

  // submenu styling
  .submenu {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 2px;
    background-color: $secondary-color;
    padding: $padding-16 0;
    display: none;
    visibility: hidden;
    opacity: 0;
    box-shadow: $card-shadow;
    div div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
      grid-gap: $margin-16;
    }
    h2 {
      text-transform: uppercase;
      color: #fff;
      font-size: $body-font-size;
    }
    p {
      color: #fff;
      margin-top: 0;
    }
    a {
      display: block;
      padding: $padding-8 0;
      color: lighten($primary-color, 35%);
      &:hover {
        color: lighten($primary-color, 25%);
      }
    }
  }
  li:focus-within .submenu,
  li:hover .submenu {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  li {
    list-style: none;
  }
  .btn {
    margin: 0;
    padding: $padding-8 $padding-16;
    font-size: 1rem;
    &.btn-primary {
      border-radius: 0;
      &:hover {
        transform: none;
      }
    }
    span {
      border-color: #fff;
    }
  }
}
