.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: $bottom-shadow;
  z-index: $zindex-nav;

  .logo {
    min-height: calc(4.5rem + 2px);
    display: flex;
    align-items: center;
    @include max-tablet() {
      align-self: flex-start;
    }
    z-index: 1;
  }

  #nav-items-toggle {
    color: $primary-color;
    padding: 1.5rem;
    margin: 0.25rem 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-self: flex-start;
    z-index: 1;
    i {
      display: block;
      height: 1rem;
      width: 1rem;
      &:first-child {
        display: none;
      }
    }
    &.active {
      i:first-child {
        display: block;
      }
      i:last-child {
        display: none;
      }
    }
    @include min-desktop() {
      display: none;
    }
  }

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin: 0;
    font-size: $h4-font-size;
    @include min-desktop-hd() {
      font-size: $h3-font-size;
    }
    @include transition;
  }

  .skip-to-content {
    position: absolute;
    padding: $padding-8 $padding-16;
    background-color: $primary-color;
    color: #fff;
    border-radius: rem(50);
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    transition: all 0.3 ease-in-out;
  }

  .skip-to-content:focus {
    z-index: 2;
    width: auto;
    height: auto;
    clip: auto;
  }

  .skip-to-content:focus + a h1 {
    opacity: 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  #nav-items {
    display: flex;
    @include max-tablet() {
      transform: translateY(-100vh);
      transition: transform 0.3s ease-in-out;
      align-items: center;
      justify-content: center;
      position: absolute;
      min-height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      flex-flow: column;
    }

    span {
      border: 1px $primary-color solid;
      font-size: 0.75rem;
      margin-right: 0;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      width: 0;
      height: 0;
      opacity: 0;
      display: inline-flex;
      transition: width 0.15s 0.15s ease-in-out, height 0.15s 0.15s ease-in-out,
        margin 0.15s 0.15s ease-in-out, opacity 0.3s ease-in-out;
      &.active {
        opacity: 1;
        width: 1rem;
        height: 1rem;
        margin: 0 0 0.25rem 0;
        transition: width 0.15s 0.15s ease-in-out,
          margin 0.15s 0.15s ease-in-out, height 0.15s 0.15s ease-in-out,
          opacity 0.15s 0.15s ease-in-out;
      }
      @include max-tablet-hd() {
        display: none;
      }
      @include min-desktop-hd() {
        height: 1.25rem;
        font-size: 0.75rem;
        &.active {
          width: 1.25rem;
          margin: 0 $margin-8 0 0;
          height: 1.25rem;
        }
      }
    }

    &.active {
      transform: translateY(0);
    }
    & > li {
      @include min-desktop() {
        margin-left: $margin-24;
      }
      & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid transparent;
        flex-flow: column;
        @include transition();

        &:hover:not(#menu-item-6) {
          border-bottom: 2px solid rgba($primary-color, 0.5);
        }
        @include min-tablet() {
          min-height: calc(4.5rem + 2px);
        }
        @include min-desktop-hd() {
          flex-flow: row;
        }
      }
      &.active {
        & > a {
          color: $secondary-color;
          border-bottom: 2px solid $secondary-color;
        }
        & span {
          border-color: $secondary-color;
        }
      }
    }
  }

  #menu-item-6 {
    span {
      border-color: #fff;
    }
    border-radius: 0;
    padding: 0 1.25rem;
    @include max-tablet() {
      border-radius: 50rem;
      min-width: rem(150);
    }
  }
  li {
    list-style: none;
  }
  .btn {
    margin: 0;
    padding: 0;
  }
}

.keynav {
  padding: $padding-8 $padding-16;
  border-radius: rem(10);
  background-color: rgba($secondary-color, 0.4);
  color: #fff;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.75rem;
  transition: background-color 0.3s ease-in-out;
  z-index: -1;
  &.active {
    background-color: rgba($secondary-color, 1);
  }
  @include max-tablet-hd() {
    display: none;
  }
}
