.main-nav {
  position: fixed;
  z-index: $zindex-nav;
  background-color: #fff;
  box-shadow: $bottom-shadow;

  &,
  .submenu,
  #nav-items.active {
    top: 0;
    left: 0;
    right: 0;
  }

  // All align-items: center; parents
  &,
  #nav-items,
  #nav-items.active,
  #nav-items a,
  .container,
  .hotkey {
    display: flex;
    align-items: center;
  }

  #nav-items {
    display: none;

    &.active {
      justify-content: center;
      flex-flow: column;
      min-height: 100vh;
      background: #fff;
    }

    @include min-desktop {
      display: flex;
      & > li > a {
        margin-left: $margin-24;
      }
    }

    a {
      margin-left: $margin-24;
      justify-content: center;
      border-bottom: 2px solid transparent;
      flex-flow: column;
    }
  }

  .container {
    justify-content: space-between;
  }

  // All min-height: calc(4.5rem + 2px); parents
  .logo {
    min-height: calc(4.5rem + 2px);
  }

  h1 {
    font-size: $h4-font-size;
    margin: 0;
    @include min-desktop {
      font-size: $h3-font-size;
    }
  }

  .skip-to-content {
    position: absolute;
    padding: $padding-8 $padding-16;
    background-color: $primary-color;
    color: #fff;
    border-radius: rem(50);
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    transition: all 0.3 ease-in-out;

    &:focus {
      z-index: 2;
      width: auto;
      height: auto;
      clip: auto;
    }

    &:focus + a h1 {
      opacity: 0;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.submenu,
#nav-items-toggle,
#keynav {
  display: none;
}
