.main-nav {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: $bottom-shadow;
  z-index: $zindex-nav;
  & > .container {
    display: flex;
    justify-content: flex-end;
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
  }
  li {
    list-style: none;
    margin-left: $margin-24;
    border-bottom: 2px solid transparent;
    a {
      height: $padding-72;
      display: flex;
      align-items: center;
    }
    @include transition();
    &:hover {
      border-bottom: 2px solid rgba($primary-color, 0.5);
    }
    &.active {
      border-bottom: 2px solid $primary-color;
    } // &:last-child {
    //   &:hover,
    //   &.active {
    //     border-bottom: 2px solid transparent;
    //   }
    // }
  }
  .btn {
    margin: 0;
    padding: $padding-8 $padding-16;
    font-size: 1rem;
    &.btn-primary {
      border-radius: 0;
      &:hover {
        transform: none;
      }
    }
  }
}
