.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: $bottom-shadow;
  z-index: $zindex-nav;

  & > .container {
    display: flex;
    justify-content: flex-end;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: rem(24);
    height: rem(72);
    border-bottom: 2px solid transparent;

    @include transition();

    &:hover {
      border-bottom: 2px solid rgba($primary-color, 0.5);
    }

    &.active {
      border-bottom: 2px solid $primary-color;
    }

    // &:last-child {
    //   &:hover,
    //   &.active {
    //     border-bottom: 2px solid transparent;
    //   }
    // }
  }

  .btn {
    margin: 0;
    padding: rem(8) rem(16);
    font-size: rem(16);
  }
}
