.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: $bottom-shadow;
  z-index: $zindex-nav;
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: $h3-font-size;
    margin: 0;
    @include transition;
  }
  .skip-to-content {
    position: absolute;
    padding: $padding-8 $padding-16;
    background-color: $primary-color;
    color: #fff;
    border-radius: rem(50);
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    transition: all 0.3 ease-in-out;
  }
  .skip-to-content:focus {
    z-index: 2;
    width: auto;
    height: auto;
    clip: auto;
  }
  .skip-to-content:focus + a h1 {
    opacity: 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  // main menu styling
  & div > ul {
    display: flex;
    & > li {
      margin-left: $margin-24;
      & > a {
        padding: $padding-24 0;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        &:hover {
          border-bottom: 2px solid rgba($primary-color, 0.5);
        }

        @include transition();
      }
      &.active {
        & > a {
          color: $secondary-color;
          border-bottom: 2px solid $secondary-color;
        }
        span {
          border-color: $secondary-color;
        }
      }

      #menu-item-6 {
        padding: calc(1.5rem + 1px) 1rem;
      }

      #menu-item-6:hover {
        border-bottom: 0;
      }

      span {
        border: 1px $primary-color solid;
        font-size: 0.75rem;
        margin-right: 0;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 0;
        height: 1.25rem;
        opacity: 0;
        display: inline-flex;
        transition: width 0.15s 0.15s ease-in-out,
          margin 0.15s 0.15s ease-in-out, opacity 0.3s ease-in-out;
        &.active {
          opacity: 1;
          width: 1.25rem;
          margin-right: $margin-8;
          transition: width 0.15s 0.15s ease-in-out,
            margin 0.15s 0.15s ease-in-out, opacity 0.15s 0.15s ease-in-out;
        }
      }
    }
  }

  // submenu styling
  .submenu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    top: 74px;
    margin-top: 0px;
    background-color: $secondary-color;
    padding: 0;
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    overflow: hidden;
    * {
      display: none;
    }
    div div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
      grid-gap: $margin-16;
    }
    h2 {
      text-transform: uppercase;
      color: #fff;
      font-size: $body-font-size;
    }
    p {
      color: #fff;
      margin-top: 0;
    }
    a {
      display: block;
      padding: $padding-8 0;
      color: lighten($primary-color, 35%);
      &:hover {
        color: lighten($primary-color, 25%);
      }
    }
  }
  li:focus-within .submenu,
  li:hover .submenu {
    height: 250px;
    * {
      display: block;
    }
    div div {
      display: grid;
    }
  }
  li {
    list-style: none;
  }
  .btn {
    margin: 0;
    padding: $padding-8 $padding-16;
    font-size: 1rem;
    &.btn-primary {
      border-radius: 0;
      &:hover {
        transform: none;
      }
    }
    span {
      border-color: #fff;
    }
  }
}

.keynav {
  padding: $padding-8 $padding-16;
  border-radius: rem(10);
  background-color: rgba($secondary-color, 0.4);
  color: #fff;
  position: absolute;
  top: 6rem;
  font-size: 0.75rem;
  transition: background-color 0.3s ease-in-out;
  z-index: -1;
  &.active {
    background-color: rgba($secondary-color, 1);
  }
}
