.partners-team-wrapper {
    article {
        align-items: center;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        padding: 50px 0;

        img {
            grid-column: 1 / 7;
            grid-row: 1;
            height: 100%;
            max-height: 300px;
            object-fit: contain;
            object-position: center center;
            width: 100%;
        }

        div {
            grid-column: 6 / 13;
            grid-row: 1;
        }

        &:nth-child(even) {
            img {
                grid-column: 6 / 13;
            }
            div {
                grid-column: 1 / 7;
            }
        }
    }

    .btn {
        margin-left: 0;
        margin-right: 0;
    }
}