.partners-team-wrapper {
  article {
    align-items: center;
    padding: $padding-72 0;
    text-align: right;
    h2,
    p {
      text-align: left;
    }
    h2 {
      color: #ffffff;
      line-height: 1.415em;
      margin-bottom: 0;
      padding: 2px 0;
      text-transform: uppercase;
    }
    p {
      color: rgba(255, 255, 255, 0.75);
      font-size: 1.5rem;
      line-height: 2.15;
      margin: 0;
      padding: $padding-24 0;
    }

    h2,
    p {
      span {
        -webkit-box-decoration-break: clone;
        background-color: $secondary-color;
        box-decoration-break: clone;
        display: inline;
        padding: $padding-24;
      }
    }

    img {
      border-radius: 10px;
      display: block;
      grid-column: 1 / 7;
      grid-row: 1;
      height: 100%;
      max-height: 350px;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
    div {
      grid-column: 5 / 12;
      grid-row: 1;
      position: relative;
      z-index: 1;
    }
    .btn {
      background-color: $primary-color;
      box-shadow: 0 7px 28px rgba(61, 25, 91, 0.15),
        0 5px 10px rgba(61, 25, 91, 0.12);
      color: #ffffff;
      margin-right: 20%;
      margin-top: -1rem;
      &:hover,
      &:focus {
        box-shadow: 0 14px 28px rgba(61, 25, 91, 0.25),
          0 10px 10px rgba(61, 25, 91, 0.22);
      }
    }
    &:nth-child(even) {
      text-align: left;
      h2,
      p {
        text-align: right;
      }
      img {
        grid-column: 7 / 13;
      }
      div {
        grid-column: 2 / 9;
      }
      .btn {
        margin-left: 20%;
        margin-right: 0;
      }
    }
  }
  @include max-tablet() {
    article {
      text-align: center;
      > div {
        grid-row: 2;
        grid-column: 1 / 13;
        margin-top: -10rem;
      }
      > img {
        grid-column: 1 / 13;
      }
      &:nth-child(even) {
        text-align: center;
        img {
          grid-column: 1 / 13;
        }
        div {
          grid-column: 1 / 13;
        }
        .btn {
          margin: 0;
        }
      }
      .btn {
        margin: 0;
      }
    }
  }
}
