.signup-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  section {
    grid-column: 1 / 7;
    h2 {
      font-size: 24px;
      margin: 0 0 $margin-16;
      &:not(:first-child) {
        margin-top: $margin-32;
      }
    }
    div {
      position: sticky;
      top: calc(4.5rem + #{$padding-32});
    }
  }
  form {
    border-radius: 5px;
    border: 1px solid lighten(#000, 75%);
    grid-column: 8 / 13;
    fieldset {
      border: none;
      margin: 0;
      padding: $padding-16 $padding-32 2rem;
    }
    h2 {
      border-bottom: 1px solid lighten(#000, 75%);
      font-size: 20px;
      margin: 0;
      padding: $padding-16 0;
      text-align: center;
    }
  }
  blockquote {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
}
