.signup-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  section {
    grid-column: 1 / 7;
    h2 {
      font-size: 24px;
      margin: 0 0 $margin-16;
      &:not(:first-child) {
        margin-top: $margin-32;
      }
    }
    div {
      position: sticky;
      top: calc(4.5rem + #{$padding-32});
    }
  }
  form {
    grid-column: 8 / 13;
    transition: height 1s cubic-bezier(0.43, 0.005, 0, 0.995);
    fieldset {
      border: none;
      margin: 0;
      padding: $padding-16 $padding-32 2rem;
    }
    h2 {
      border-bottom: 1px solid lighten(#000, 75%);
      font-size: 20px;
      margin: 0;
      padding: $padding-16 0;
      text-align: center;
    }
    label {
      display: block;
      margin-top: $margin-16;
      color: lighten(#000, 25%);
      &:first-of-type {
        margin-top: 0;
      }
    }
    input {
      display: block;
      margin-top: $margin-8;
      padding: $padding-16;
      width: 100%;
      font: inherit;
      &[type='submit'] {
        margin: $margin-32 0;
        font-weight: 600;
        transition: width 2s ease;
        bottom: 0;
      }
    }
  }
  blockquote {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  @include max-desktop() {
    section {
      grid-column: 2 / 12;
    }

    form {
      grid-column: 3 / 11;
      grid-row: 2;
      margin-top: $margin-48;
    }
  }

  @include max-mobile() {
    section {
      grid-column: 2 / 12;
    }

    form {
      grid-column: 2 / 12;
    }
  }
}
