.presentation {
  background-color: #131313;
  width: 100%;
  padding: $padding-80 $padding-40 $padding-56 $padding-40;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  max-width: rem(1280);
  margin: auto auto 0 auto;

  img,
  video {
    width: 100%;
    object-fit: cover;
  }

  .btn-media-control {
    opacity: 0;
    background-image: url("../img/icons/pause-big.svg");
  }

  &:focus-within,
  &:hover {
    .btn-media-control {
      opacity: 0.5;
    }
  }

  &.paused {
    img,
    video {
      opacity: 0.5;
    }

    .btn-media-control {
      background-image: url("../img/icons/play-big.svg");
      opacity: 1;
    }
  }
}

.subtitle {
  margin: 0 0 auto 0;
  padding: rem(24) 0;
  height: rem(80);

  color: #fff;
  font-size: rem(32);
  font-family: "Arial", sans-serif;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.8), 0 3px 50px rgba(0, 0, 0, 0.5);
}

.slides {
  display: flex;
  opacity: 0.3;
  margin-top: $margin-48;

  @include transition(0.2s);

  &:hover {
    opacity: 1;
  }

  img {
    max-height: rem(96);
    margin-right: $margin-8;
    border: rem(4) solid transparent;
    border-radius: $border-radius;

    @include transitionCubic;

    &:hover {
      transform: scale(1.075);
    }

    &.active {
      border: rem(4) solid $primary-color;

      transform: scale(1.075);
      z-index: 1;
    }
  }
}

.seeker {
  width: 100%;
  margin-left: -2px;
  background: transparent;
  height: 0;
  width: calc(100% + 2px);

  &:focus {
    outline: 0;
  }

  &,
  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;

    height: rem(12);
    background: #333333;
    border-radius: rem(12);
  }

  &::-webkit-slider-thumb {
    position: relative;
    margin-top: rem(-8);
    border: none;
    width: rem(24);
    height: rem(24);
    border-radius: rem(24);
    background-color: #eaeaea;
    cursor: pointer;
    box-shadow: 0 0 0 0px rgba(68, 91, 237, 0.25),
      0 0 0 0px rgba(68, 91, 237, 0.12);

    @include transition();

    &:hover {
      box-shadow: 0 0 0 4px rgba(68, 91, 237, 0.25),
        0 0 0 8px rgba(68, 91, 237, 0.12);
    }
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 4px rgba(68, 91, 237, 0.25),
        0 0 0 8px rgba(68, 91, 237, 0.12);
    }
  }
}

.btn-media-control {
  width: rem(80);
  height: rem(80);
  background: $primary-color;
  background-image: url("../img/icons/play-big.svg");
  background-position: 50% 50%;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(80);

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
