.student-work {
  .student-work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    grid-gap: 2em 1em;
  }

  .course {
    padding: $padding-48 0;
  }

  h2 {
    margin: 0 0 2rem 0;
  }

  .btn-primary {
    display: block;
    margin: auto;
    max-width: rem(300);
    padding: $padding-24;
    text-align: center;
    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}

// Searchbar nav
.searchbar {
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
  border: 1px solid #bebebe;
  border-radius: 0.5rem;
  padding: $padding-16;

  form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-column-gap: 1rem;
  }

  select {
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    &:valid {
      background-color: #fff;
    }
  }

  input:valid {
    background-color: #fff;
  }

  input,
  select,
  button {
    margin: 0;
  }
}
