//.student-work-card-list {
//    display: flex;
//    justify-content: space-between;
//}
//
//.btn-student-work {
//    width: 100%;
//    margin: 6em 0;
//    text-align: center;
//}
//
//.student-work-card {
//    margin-right: 4em;
//    background: $primary-color;
//    display: block;
//    text-decoration: none;
//    color: inherit;
//}
//
//.student-work-card:last-child {
//    margin-right: 0;
//}
//
//.student-work-card img {
//    width: 100%;
//    display: block;
//    margin: 0 auto;
//}
//
//.student-work-card p {
//    padding: 3em;
//    text-align: justify;
//}

.student-work-card {
    background-color: #fff;
    box-shadow: $card-shadow;

    h2 {
        margin: .5em;
    }

    & > img {
        width: 100%;
        max-height: 7.5em;
        object-fit: cover;
    }

    .card-links {
        display: flex;

        a {
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
          flex-basis: 0;  
          padding: 1em;

          img {
              padding: 0 0.25em 0 0;
          }
        }
    }
}