.student-work {
  .student-work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    grid-gap: 2em 1em;
  }

  .course {
    padding: $padding-48 0;
  }

  h2 {
    margin: 0 0 2rem 0;
  }

  .btn-primary {
    display: block;
    margin: auto;
    max-width: rem(300);
    padding: $padding-24;
    text-align: center;
    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}

.student-work-header {
  select {
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    border: none;
    border-bottom: $primary-color rem(8) solid;
    border-radius: 0;
    color: $primary-color;
    width: auto;
    display: inline-block;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    &:valid {
      background-color: #fff;
    }
    &:hover,
    &:focus {
      color: lighten($primary-color, 20%);
      border-color: lighten($primary-color, 20%);
    }
  }

  input:valid {
    background-color: #fff;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + label {
    color: red;
  }

  input,
  select,
  label,
  button {
    margin: 0;
    cursor: pointer;
  }
}
