.student-work-card-list {
    display: flex;
    justify-content: space-between;
}
.btn-student-work {
    width: 100%;
    margin: 6em 0;
    text-align: center;
}

.student-work-card {
    margin-right: 4em;
    background: $primary-color;
    display: block;
    text-decoration: none;
    color: inherit;
}
.student-work-card:last-child {
    margin-right: 0;
}

.student-work-card img {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.student-work-card p {
    padding: 3em;
    text-align: justify;
}