.student-work-card {
  display: flex;
  flex-flow: column;
  position: relative;
  z-index: $zindex-card;
  overflow: hidden;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding-16 $padding-24;
  }

  h3 {
    text-transform: uppercase;
    font-size: rem(18);
    margin: 0;
  }

  & > img {
    width: 100%;
    max-height: rem(176);
    object-fit: cover;
  }
}
