.teachers-list {
  display: flex;
  padding: 0;
  li {
    display: flex;
    list-style: none;
    margin-right: 2rem;
  }
  div {
    display: flex;
    flex-direction: column;
  }
  img {
    height: 3rem;
    margin-right: 1rem;
    width: 3rem;
  }
  h2 {
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  }
  p {
    color: #cba5ea;
    font-size: 1rem;
    margin: 0;
  }
}