.teachers-list {
  display: flex;
  padding: 0;
  li {
    display: flex;
    list-style: none;
    margin-right: 2rem;
    position: relative;
    padding: .3rem;
    transition: background .3s ease-in-out;
    &:hover {
      background: rgb(243, 243, 243);
      img {
        opacity: 1;
      }
    }
  }
  div {
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
    border-bottom: solid $primary-color 1px;
  }
  img {
    height: 3rem;
    margin-right: 1rem;
    width: 3rem;
    opacity: 0.4;
    transition: opacity .3s ease-in-out;
  }
  h2 {
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  }
  p {
    color: $primary-color;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  a {
    color: transparent;
    font-size: 0;
    height: 100%;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}