$border-color: #bebebe;
$border-radius: 0.5rem;

$grid-header-height: rem(80);
$grid-row-height: rem(160);
$grid-gutter: rem(24);
$grid-max-width: rem(1180);

@mixin timeline-mid {
  background-image: url("/img/timeline/timeline-mid.svg");
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-color: transparent;
}

@mixin timeline-start {
  @include timeline-mid();
  background-image: url("/img/timeline/timeline-start.svg");
}

@mixin timeline-end {
  @include timeline-mid();
  background-image: url("/img/timeline/timeline-end.svg");
}

.timeline-wrapper {
  display: grid;
  grid-template-columns: 1fr $grid-max-width 1fr;
  grid-template-rows: $grid-header-height repeat(4, $grid-row-height);

  .row-gray {
    background-color: #fafafa;
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .row-1 {
    grid-row-start: 2;
  }

  .row-2 {
    grid-row-start: 4;
  }
}

.timeline {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;

  display: grid;
  column-gap: $grid-gutter;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: $grid-header-height $grid-row-height;

  .period {
    grid-row: 1;
    display: flex;
    align-items: center;
    padding: 0 rem(24);
  }

  .week-1 {
    grid-row: 2;
    @include timeline-start();
  }

  .week-2 {
    grid-row: 3;
    @include timeline-mid();
  }

  .week-3 {
    grid-row: 4;
    @include timeline-mid();
  }

  .week-4 {
    grid-row: 5;
    @include timeline-end();
  }

  .week {
    display: flex;
    align-items: center;
    padding: 0 rem(24);
    flex-direction: column;
    justify-content: center;

    &:not(.period-week) {
      border-top: 1px #e5e5e5 solid;
    }
  }

  .avatar {
    margin-bottom: rem(8);
  }

  p {
    margin: 0;
  }

  a {
    font-weight: $semi-bold;
  }

  .period-week {
    align-items: flex-end;
    padding-right: rem(56);
    font-weight: $semi-bold;
  }

  .period-header {
    align-items: center;
    justify-content: flex-end;
  }

  header {
    padding: 0 rem(24);
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  }

  article {
    position: relative;
    border: 1px solid $border-color;
    box-shadow: 0 rem(4) rem(8) rgba(0, 0, 0, 0.08);
    border-radius: $border-radius;
    background-color: #fff;

    transition: transform cubic-bezier(0.5, 1.42, 0.78, 1.46) 0.175s,
      border-color ease-in-out 0.175s;

    &:hover,
    &:focus-within {
      transform: scale(1.035);
    }

    &:not(:last-child) {
      grid-row: 1 / span 4;
      display: grid;
      grid-template-rows: $grid-header-height repeat(3, $grid-row-height);
    }
  }

  h5,
  h6 {
    margin: 0;
  }

  .course-project {
    grid-row: 5;
    grid-column: 2 / span 4;

    padding: rem(24) 0;
    margin-top: rem(24);
    margin-right: rem(24);

    display: flex;
    align-items: center;

    header {
      padding: 0 rem(24);
      align-items: flex-start;
    }

    p {
      padding: 0 rem(24);
      font-size: rem(18);
    }
  }

  .course-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    line-height: 0;

    &:focus {
      outline: 0;
    }
  }
}
