.timeline {
    display: flex;
    flex-direction: column;
    margin: rem(80) auto rem(160) auto;

    .row-sticky {
        position: sticky;
        top: 0;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0px -1px 3px rgba(0,0,0,0.12);

        &:first-child {
            box-shadow: $bottom-shadow;
        }
    }

    .row-container {
        display: flex;
        margin: auto;
        width: rem(1400);
    }

    .column {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: $padding-24;
    }

    .column-project {
        width: 75%;
    }

    .week {
        background-image: url("/img/timeline/timeline-mid.svg");
        background-position: center right 20px;
        background-repeat: no-repeat;
    }

    .row {
        width: 100%;

        &:nth-child(odd) {
            background-color: rgba(#AE61EE, .03);
        }
    }

    .row-sticky + .row {
        .week {
            background-image: url("/img/timeline/timeline-start.svg");
        }
    }

    .row:last-child,
    .row.project {
        .week {
            background-image: url("/img/timeline/timeline-end.svg");
        }
    }
}