$grid-header-height: rem(80);
$grid-row-height: rem(160);
$grid-gutter: rem(24);
$grid-max-width: rem(1180);

@mixin timeline-line {
  background-position: center right rem(20);
  background-repeat: no-repeat;
  background-color: transparent;
}

@mixin timeline-mid {
  @include timeline-line();
  background-image: url('/img/timeline/timeline-mid.svg');
}

@mixin timeline-start {
  @include timeline-line();
  background-image: url('/img/timeline/timeline-start.svg');
}

@mixin timeline-end {
  @include timeline-line();
  background-image: url('/img/timeline/timeline-end.svg');
}

.timeline-wrapper {
  display: grid;
  grid-template-columns: 1fr $grid-max-width 1fr;
  grid-template-rows: $grid-header-height repeat(4, $grid-row-height);
  margin-top: $margin-80;

  .row-gray {
    background-color: #fafafa;
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .row-1 {
    grid-row-start: 2;
  }

  .row-2 {
    grid-row-start: 4;
  }

  @include max-desktop-hd() {
    grid-template-columns: auto;
  }

  @include max-tablet-hd() {
    grid-template-rows: auto;
  }
}

.timeline {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 6;

  display: grid;
  column-gap: $grid-gutter;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: $grid-header-height $grid-row-height;

  @include max-desktop-hd() {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    margin: 0 $margin-16;
  }

  @include max-tablet-hd() {
    display: flex;
    flex-direction: column;
  }

  .period {
    grid-row: 1;
    display: flex;
    align-items: center;
    padding: 0 rem(24);
  }

  .week-1,
  .week-5,
  .week-9 {
    grid-row: 2;
    @include timeline-start();
  }

  .week-2,
  .week-6,
  .week-10 {
    grid-row: 3;
    @include timeline-mid();
  }

  .week-3,
  .week-7,
  .week-11 {
    grid-row: 4;
    @include timeline-mid();
  }

  .week-4,
  .week-8,
  .week-12 {
    grid-row: 5;
    @include timeline-end();
  }

  .week {
    display: flex;
    align-items: center;
    padding: 0 rem(24);
    flex-direction: column;
    justify-content: center;

    &:not(.period-week) {
      border-top: 1px #e5e5e5 solid;
    }
  }

  .avatar {
    margin-bottom: rem(8);
  }

  h5,
  h6 {
    margin: 0;
    white-space: nowrap;
  }

  p {
    margin: 0;
  }

  .hidden-desktop-hd {
    font-weight: bold;
  }

  .period-week {
    align-items: flex-end;
    padding-right: rem(56);
    font-weight: $semi-bold;

    @include max-desktop-hd() {
      display: none;
    }
  }

  .period-header {
    align-items: center;
    justify-content: flex-end;
  }

  header {
    padding: 0 rem(24);
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  }

  article {
    position: relative;
    grid-row: 1 / span 4;
    display: grid;
    grid-template-rows: $grid-header-height repeat(3, $grid-row-height);

    @include max-tablet-hd() {
      display: flex;
      flex-direction: column;
      margin-top: $margin-32;

      header,
      .week {
        padding: $padding-16;
      }
    }
  }

  .course-project {
    grid-row: 5;
    grid-column: 2 / span 4;

    padding: rem(24) 0;
    margin-top: rem(24);
    margin-right: rem(24);

    display: flex;
    align-items: center;

    @include max-desktop-hd() {
      grid-column: 1 / span 3;
      margin-right: 0;
    }

    @include max-tablet-hd() {
      text-align: center;
    }

    header {
      padding: 0 rem(24);
      align-items: flex-start;

      @include max-tablet-hd() {
        align-items: center;
      }
    }

    p {
      padding: 0 rem(24);
      font-size: rem(18);
    }
  }

  a:not(.card-link) {
    font-weight: $semi-bold;
    z-index: $zindex-card-link;

    &:hover {
      filter: brightness(70%);
    }
  }
}

.course-tag {
  display: inline-block;
  margin-top: rem(8);
  padding: rem(2) 1rem;
  background-color: $primary-color;
  font-size: rem(14);
  text-transform: uppercase;
  margin-right: rem(8);
  color: white;
  border-radius: 10rem;
}
