.home-wrapper {
  section header {
    margin: 0 0 $margin-48 0;
    padding: 0;
    text-align: center;
    p {
      margin: auto;
    }
  }
  h2 {
    margin: 0 0 $margin-24 0;
    text-transform: uppercase;
  }
  span {
    display: inline-block;
  }

  section {
    padding: $padding-24 0;
  }
}

.courses {
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $margin-32;
    article {
      padding: 2em;
      width: calc(33.33% - 13.34px);
      margin: 0 20px 20px 0;

      img {
        display: block;
        max-width: 50%;
        margin: 0 auto;
      }

      h3 {
        text-align: center;
      }

      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }
}

.partners {
  .slider {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-y: hidden;
    scroll-behavior: smooth;
    li {
      opacity: 0.5;
      flex-shrink: 0;
      flex-grow: 0;
      display: inline-block;
      list-style: none;
      width: calc(30% - 13.34px);
      margin: 0 20px 20px 0;
      transition: all 0.3s ease;
      a {
        outline: 0;
        display: block;
      }
      &:focus-within,
      &:hover {
        opacity: 1;
      }
      img {
        max-width: 100%;
        display: block;
      }
    }
  }
}

.signup-cta {
  max-width: 50em;
  margin: 0 auto;
  h2 {
    font-size: $h1-font-size;
  }
  p {
    max-width: 30em;
    margin: 0 auto;
    text-align: center;
    font-size: $h3-font-size;
  }
  a {
    margin: 2em auto;
    display: block;
    width: 60%;
    text-align: center;
  }
}

.instagram-feed {
  margin: 8rem 0;
  div {
    margin: 0 auto;
    div {
      display: block;
      // opacity: 0.5;
      transition: all 0.3s ease;
      position: relative;
      &:hover,
      &:focus,
      &:focus-within {
        a {
          background: rgba(0, 0, 0, 0.6);
        }
        p {
          opacity: 1;
        }
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        outline: 0;
        font-size: 0;
        border-radius: 5px;
      }
      img {
        object-fit: cover;
        max-height: rem(250);
        display: block;
        width: 100%;
        border-radius: 5px;
      }
      p {
        position: absolute;
        bottom: 0;
        padding: 0 $padding-16;
        opacity: 0;
        color: #fff;
        // font-weight: bold;
        font-size: $h4-font-size;
      }
    }

    .ig-1 {
      grid-column: 1 / 9;
    }

    .ig-2 {
      grid-column: 9 / 13;
    }

    .ig-3 {
      grid-column: 1 / 5;
    }

    .ig-4 {
      grid-column: 5 / 13;
    }
  }
}

@include max-tablet() {
  .instagram-feed {
    .grid {
      .ig-1,
      .ig-3 {
        grid-column: 1 / 7;
      }
      .ig-2,
      .ig-4 {
        grid-column: 7 / 13;
      }
    }
  }
}
