@import "./components/variables";
@import "./components/base";
@import "./components/styleguide";
@import "./components/mixins";
@import "./components/forms";
@import "./components/buttons";
@import "./components/typography";
@import "./components/student-work-card";
@import "./components/nav";
@import "./components/footer";
@import "./components/teacher-card";
@import "./components/partners-team.scss";
@import "./components/student-work-card";
@import "./components/course-card";
@import "./components/student-work";
@import "./components/testimonial";
@import "./components/timeline";
@import "./components/course";
