@import "./components/mixins";
@import "./components/variables";
@import "./components/base";
@import "./components/styleguide";
@import "./components/forms";
@import "./components/buttons";
@import "./components/typography";
@import "./components/card";
@import "./components/student-work-card";
@import "./components/nav";
@import "./components/footer";
@import "./components/teacher-card";
@import "./components/partners-team.scss";
@import "./components/student-work-card";
@import "./components/course-card";
@import "./components/hero";
@import "./components/student-work";
@import "./components/testimonial";
@import "./components/timeline";
@import "./components/homepage";
@import "./components/carousel";
@import "./components/course";
@import "./components/signup";
@import "./components/animations";
@import "./components/courses";
@import "./components/contact";
@import "./components/signup";
@import "./components/presentation";
@import "./components/hljs";
