{% set title = "Slider-prototypes" %} {% extends "../components/_base.html" %} {% block content %}
<main class="container">
    <section class="partners">
        <a href="slider-with-buttons" class='btn btn-primary'>Prototype 2</a>
        <h2>Prototype 1: pijltjestoetsen en tab</h2>
        <div class="carousel" tabindex="-1">
            <ul>
                <li class="focusable next" id="slide1" data-sn-up="#" data-sn-down="#">
                    <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
                        alt="Openbare Bibliotheek Amsterdam">
                    <a href="#" class="link"></a>
                </li>
                <li class="focusable" id="slide2" data-sn-up="#" data-sn-down="#">
                    <img src="https://cdn-images-1.medium.com/max/1822/1*-r11B8_LfoTfswcSGv-muw.png" alt=" ">
                    <a href="#" class="link"></a>
                </li>
                <li class="focusable" id="slide3" data-sn-up="#" data-sn-down="#">
                    <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
                        alt=" ">
                    <a href="#" class="link"></a>
                </li>
                <li class="focusable" id="slide4" data-sn-up="#" data-sn-down="#">
                    <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
                        alt=" ">
                    <a href="#" class="link"></a>
                </li>
                <li class="focusable" id="slide5" data-sn-up="#" data-sn-down="#">
                    <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
                        alt=" ">
                    <a href="#" class="link"></a>
                </li>
                <li class="focusable" id="slide6" data-sn-up="#" data-sn-down="#">
                    <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
                        alt=" ">
                    <a href="#" class="link"></a>
                </li>
            </ul>
        </div>
    </section>
</main>

{% endblock %}