<footer class="mainfooter">
    <section>
        <nav>
            <h4>Menu</h4>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>

                <li>
                    <a href="">Course</a>
                </li>

                <li>
                    <a href="">Partners</a>
                </li>

                <li>
                    <a href="">Team</a>
                </li>

                <li>
                    <a href="">Enroll</a>
                </li>
            </ul>
        </nav>

        <div>
            <h4>Menu</h4>
            <ul>
                <li>Hier</li>
                <li>Komt</li>
                <li>Nog</li>
                <li>Een</li>
                <li>Lijst</li>
            </ul>
        </div>

        <div>
            <h4>Contact</h4>
            <ul>
                <li>
                    <a href="https://www.google.nl/maps/place/Kohnstammhuis,+Amsterdam/@52.3589919,4.9065174,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6099a444dce49:0x6bb895cc6f763e4!8m2!3d52.3591918!4d4.9086713" target="_blank">Kohnstamhuis</a>
                </li>
                <li>
                    <a href="https://hva.nl" target="_blank">Hogeschool van Amsterdam</a>
                </li>
                <li>Wibautstraat 2-4</li>
                <li>1091 GM Amsterdam</li>
                <li><a href="mailto:koop.reijnders@hva.nl">koop.reijnders@hva.nl</a></li>
            </ul>
        </div>
    </section>
</footer>