{% extends 'components/_base.html' %} {% block content %}
<header class="contact-header">
  <div class="container">
    <h1>Get In Touch</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, natus placeat est molestiae et omnis magnam dolor consequatur
      blanditiis nostrum, quis possimus voluptates quas quisquam.</p>
  </div>
</header>
<main class="contact-wrapper grid container">
  <form action="/" method="post">
    <fieldset>
      <legend>Send us a Message</legend>
      <label> Your Name
        <input type="text" placeholder="">
      </label>
      <label> Email Address
        <input type="email" placeholder="">
      </label>
      <label> Phone
        <input type="tel" placeholder="">
      </label>
      <label> Message
        <textarea rows="3"></textarea>
      </label>
      <input type="submit" class="btn-primary" value="Send">
    </fieldset>
  </form>
  <section>
    <h2>Contact Information</h2>
    <ul>
      <li>Wibautstraat 2-4,
        <br>Amstelcampus, 1091 GM Amsterdam</li>
      <li>020 595 1405</li>
      <li>studievoorlichting@hva.nl</li>
    </ul>
  </section>
</main>
{% endblock %}