{% extends 'components/_base.html' %} {% block content %}
<header>
  <div class="container">
    <h1>Contact Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, natus placeat est molestiae et omnis magnam dolor consequatur
      blanditiis nostrum, quis possimus voluptates quas quisquam. Illo alias nesciunt beatae accusamus?</p>
  </div>
</header>
<main class="contact-wrapper container">
  <form action="/" method="post">
    <h2>Contact Us</h2>
    <fieldset>
      <label>Full Name
        <input type="text" placeholder="Arthur Parker" autofocus required>
      </label>
      <label>E-Mail
        <input type="email" placeholder="arthur.parker@domain.com" required>
      </label>
      <label>Phone
        <input type="tel" placeholder="+31 6 478390" required>
      </label>
      <label>Message
        <textarea placeholder="Message" rows="10"></textarea>
      </label>
    </fieldset>
    <p>contact@hva-minor.nl</p>
    <p>Phone: +31 6 689378</p>
  </form>
</main>
{% endblock %}