{% extends "components/_base.html" %} {% block content %}
<header class="course-header focusOnScroll">
  <div class="container grid">
    <div>
      <div class="header-info" scroll-transition>
        <h1>{{ data.course_name }}</h1>
        <p>{{data.course_description}}</p>
        <ul class="teachers-list">
          {% for teacher in data.teachers %}
          <li>
            <a href="/">See Biography</a>
            <img class="avatar" src="{{teacher.avatar}}">
            <div>
              <h2>{{teacher.name}}</h2>
              <p>{{teacher.short_story}}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <img class="header-img" scroll-transition src="{{data.icon_url}}"></img>
  </div>
</header>

<main id="main" class="container">
  <section class="course-info">
    <section>
      <h2>Learn goals</h2>
      <ul class="course-list">
        {% for learning_goal in data.learning_goals %}
        <li>
          {{learning_goal}}
        </li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h2>More about this course</h2>
      <p>{{data.long_description}}</p>
    </section>
  </section>

  <section class="course-card-overview focusOnScroll">
    <h2>Weekly program</h2>
    <div class="course-card-list" scroll-transition>
      {% for week in data.weeks %}
      <div class='course-card'>
        <p>Week {{week.number}}</p>
          {% if week.subjects %} {% for subject in week.subjects %}
          <p>{{subject}}</p>
          {% endfor %} {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="course-btn">
      <a class="btn button-pulse" href="/program">View the full program</a>
    </div>
  </section>

  <section class="student-quote">
    <div class="testimonial">
      <blockquote>
        <p>Voor ik begon met de minor had ik weinig kennis en skill in Javascript. Ik kon net een class toevoegen en weghalen
          met jQuery. Nu kan ik een Webapp bouwen! Leraren geven goed en gedetailleerd feedback.</p>
        <p>
          <i>~ Sjaak - 2018</i>
        </p>
      </blockquote>
    </div>
  </section>

  <section class="other-courses focusOnScroll">
    <h2>Other courses</h2>
    <div>
      <a class="btn" href="/course/web-apps-from-scratch">Web Apps From Scratch</a>
      <a class="btn" href="/course/css-to-the-rescue">other course</a>
      <a class="btn" href="/course/browser-technologies">Browser Technologies</a>
      <a class="btn" href="/course/performance-matters">Performance Matters</a>
      <a class="btn" href="/course/real-time-web">Real-Time Web</a>
      <a class="btn" href="/course/web-design">Web Design</a>
      <a class="btn" href="/course/weekly-nerd">Weekly Nerd</a>
      <a class="btn" href="/course/project-1">Project 1</a>
      <a class="btn" href="/course/project-2">Project 2</a>
      <a class="btn" href="/course/project-3">Project 3</a>
      <a class="btn" href="/course/master-test">Master Test</a>
    </div>
  </section>
</main>

{% endblock %}