{% extends "components/_base.html" %} {% block content %}
<header class="course-header">
  <div class="container grid">
    <div>
      <h1>Real-Time Web</h1>
      <p>In drie weken leer je hoe je real time / live data op een inzichtelijke manier toegankelijk kunt maken voor de eindgebruiker.</p>
      <ul class="teachers-list">
        <li>
          <a href="/">See Biography</a>
          <img class="avatar" src="https://vasilis.nl/presentaties/fec15/examples/studies/speakers/speakers/Vasilis-van-Gemert.jpg">
          <div>
            <h2>Vasilis van Gemert</h2>
            <p>CSS Master</p>
          </div>
        </li>
        <li>
          <a href="/">See Biography</a>
          <img class="avatar" src="https://vasilis.nl/presentaties/fec15/examples/studies/speakers/speakers/Vasilis-van-Gemert.jpg">
          <div>
            <h2>Vasilis van Gemert</h2>
            <p>CSS Master</p>
          </div>
        </li>
      </ul>
    </div>
    <img src="/img/partners/oba.jpg"></img>
  </div>
</header>

<main class="container">
  <section class="course-info">
    <section>
      <h2>Learn goals</h2>
      <ul class="course-list">
        <li>Student kan zelfstandig een (Node) webapp bouwen met een backend die gebruikt maakt van templating, routing en een
          remote database.
        </li>
        <li>Student kan een live applicatie opleveren waar interactie mee mogelijk is die invloed heeft op de inhoud van de applicatie
          via manipulatie van de database.</li>
        <li>Student kan live data vertalen naar een reactive view (datavisualisatie mag) op een manier die voor een eindgebruiker
          zinnig is.
        </li>
      </ul>
    </section>
    <section>
      <h2>More about this course</h2>
      <p>During this course you'll learn to use Socket.io to establish a connection between the browser and the server. You'll combine your knowledge from other courses and your newly aqquired skills from this course to create a progressive web app that retrieves live data from an API, and display the data to the user.</p>
    </section>
  </section>

  <section class="course-card-overview">
    <h2>Weekly program</h2>
    <div class="course-card-list">
      {% include "components/_course-card.html" %} {% include "components/_course-card.html" %} {% include "components/_course-card.html"
      %}
    </div>
    <div class="course-btn">
      <a class="btn btn-primary" href="/program">View the full program</a>
    </div>
  </section>

  <section class="student-quote">
    <div class="testimonial">
      <img src='https://vasilis.nl/presentaties/fec15/examples/studies/speakers/speakers/Vasilis-van-Gemert.jpg' class='avatar'
      alt=''>
      <blockquote>
        <p>Voor ik begon met de minor had ik weinig kennis en skill in Javascript. Ik kon net een class toevoegen en weghalen met jQuery. Nu kan ik een Webapp bouwen! Leraren geven goed en gedetailleerd feedback.</p>
        <p><i>~ Sjaak - 2018</i></p>  
      </blockquote>
    </div>
  </section>

  <section class="other-courses">
    <h2>Other courses</h2>
    <div>
      <a class="btn" href="">other course</a>
      <a class="btn" href="">other course</a>
      <a class="btn" href="">other course</a>
      <a class="btn" href="">other course</a>
      <a class="btn" href="">other course</a>
      <a class="btn" href="">other course</a>
      <a class="btn" href="">other course</a>
      <a class="btn" href="">other course</a>
    </div>
  </section>
</main>

{% endblock %}