{% set title = "Home" %} {% extends "components/_base.html" %} {% block content %}
<header id="main" class="hero focusOnScroll">
  <div class="container">
    <h1>Minor Web Development</h1>
    <p>This minor learns you to make interactive applications with HTML, CSS and JavaScipt. In seperate courses and projects
      you'll learn everything about: real-time web, internet of things, performance, rapid prototyping, usability, documenting,
      version control, debugging, testing, responsive, reactive, micro interactions, API's and more...</p>
    {# {% include "components/_student-work-card.html" %} #}
  </div>
</header>
<main class="container">
  <section class="courses home-courses focusOnScroll">
    <h2>Vakken</h2>
    <!-- {% for course in data.courses %}
        <article>
            <img src="{{data.icon_url}}" alt=" " />
            <h3>{{course.title}}</h3>
            <p>{{course_description}}</p>
            <a href="/course/{{course.page_slug}}">{{course.title}}</a>
        </article>
        {% endfor %} -->
    <div class="flex">
      <article class="card">
        <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/512px-Unofficial_JavaScript_logo_2.svg.png"
          alt=" " />
        <h3>Web Design</h3>
        <p>
          Creating websites is getting more and more complex and is usually not a one person job. It is important to ensure that design
          is consistent and optimized to meet business objectives and create enjoyable experiences for users.
        </p>
        <a href="/course">Web Design</a>
      </article>
      <article class="card">
        <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/512px-Unofficial_JavaScript_logo_2.svg.png"
          alt=" " />
        <h3>Web Design</h3>
        <p>
          Creating websites is getting more and more complex and is usually not a one person job. It is important to ensure that design
          is consistent and optimized to meet business objectives and create enjoyable experiences for users.
        </p>
        <a href="/course/{{course.page_slug}}">Web Design</a>
      </article>
      <article class="card">
        <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/512px-Unofficial_JavaScript_logo_2.svg.png"
          alt=" " />
        <h3>Web Design</h3>
        <p>
          Creating websites is getting more and more complex and is usually not a one person job. It is important to ensure that design
          is consistent and optimized to meet business objectives and create enjoyable experiences for users.
        </p>
        <a href="/course/{{course.page_slug}}">Web Design</a>
      </article>
      <article class="card">
        <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/512px-Unofficial_JavaScript_logo_2.svg.png"
          alt=" " />
        <h3>Web Design</h3>
        <p>
          Creating websites is getting more and more complex and is usually not a one person job. It is important to ensure that design
          is consistent and optimized to meet business objectives and create enjoyable experiences for users.
        </p>
        <a href="/course/{{course.page_slug}}">Web Design</a>
      </article>
      <article class="card">
        <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/512px-Unofficial_JavaScript_logo_2.svg.png"
          alt=" " />
        <h3>Web Design</h3>
        <p>
          Creating websites is getting more and more complex and is usually not a one person job. It is important to ensure that design
          is consistent and optimized to meet business objectives and create enjoyable experiences for users.
        </p>
        <a href="/course/{{course.page_slug}}">Web Design</a>
      </article>
      <article class="card">
        <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/512px-Unofficial_JavaScript_logo_2.svg.png"
          alt=" " />
        <h3>Web Design</h3>
        <p>
          Creating websites is getting more and more complex and is usually not a one person job. It is important to ensure that design
          is consistent and optimized to meet business objectives and create enjoyable experiences for users.
        </p>
        <a href="/course/{{course.page_slug}}">Web Design</a>
      </article>
    </div>
  </section>

  <section class="partners">
    <h2>Partners waar wij mee samen werken</h2>
    <div class="carousel" tabindex="-1">
      <a href='#' id="previous">
        <img src="/img/icons/arrow.svg">
      </a>
      <ul>
        <li class="focusable next" id="slide1" data-sn-up="#" data-sn-down="#">
          <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
            alt="Openbare Bibliotheek Amsterdam">
          <a href="#" class="link"></a>
        </li>
        <li class="focusable" id="slide2" data-sn-up="#" data-sn-down="#">
          <img src="https://cdn-images-1.medium.com/max/1822/1*-r11B8_LfoTfswcSGv-muw.png" alt=" ">
          <a href="#" class="link"></a>
        </li>
        <li class="focusable" id="slide3" data-sn-up="#" data-sn-down="#">
          <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
            alt=" ">
          <a href="#" class="link"></a>
        </li>
        <li class="focusable" id="slide4" data-sn-up="#" data-sn-down="#">
          <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
            alt=" ">
          <a href="#" class="link"></a>
        </li>
        <li class="focusable" id="slide5" data-sn-up="#" data-sn-down="#">
          <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
            alt=" ">
          <a href="#" class="link"></a>
        </li>
        <li class="focusable" id="slide6" data-sn-up="#" data-sn-down="#">
          <img src="http://www.thonik.nl/app/uploads/07-thonik-amsterdam-openbare_bibliotheek_amsterdam_OBA-library-logo_uitleg-filmstill-1440x810.jpg"
            alt=" ">
          <a href="#" class="link"></a>
        </li>
      </ul>
      <a href='#' id="next">
        <img src="/img/icons/arrow.svg">
      </a>
    </div>
  </section>

  <section class="student-quote">
    <div class="testimonial">
      <img src='https://pbs.twimg.com/profile_images/535154875059806208/FwaafAh1_400x400.png' class='avatar' alt=''>
      <blockquote>
        <p>
          Het was zeker een flinke uitdaging en de lesstof was af en toe erg heftig. Maar na verdieping erin heb ik toch alles kunnen
          halen
        </p>
        <p>
          <i>~ John Doe - 2018</i>
        </p>
      </blockquote>
    </div>
  </section>

  <section class="instagram-feed">
    <div class="grid">

      <div class="ig-1">
        <img src="img/partners/oba.jpg" />
        <a href="#"></a>
      </div>

      <div class="ig-2">
        <img src="img/partners/oba.jpg" />
        <a href="#"></a>
      </div>

      <div class="ig-3">
        <img src="img/partners/oba.jpg" />
        <a href="#"></a>
      </div>

      <div class="ig-4">
        <img src="img/partners/oba.jpg" />
        <a href="#"></a>
      </div>
    </div>
  </section>

  <section class="signup-cta focusOnScroll">
    <h1>Inschrijven</h1>
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo,
      tortor mauris condimentum nibh, ut.
    </p>
    <a class='btn btn-primary' href="/signup">Inschrijven</a>
  </section>


</main>

{% endblock %}