{% extends "components/_base.html" %}

{% block content %}
<div class='container center'>
    <div class='col-1'>
        <h1>{{ data.title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere tristique nisi, quis finibus sem porttitor sed. Vivamus finibus nulla id massa vehicula, et congue sapien placerat. Suspendisse potenti. Vestibulum commodo, nisi commodo pellentesque malesuada, nisi lacus auctor felis, non varius metus nulla ullamcorper est. Maecenas vestibulum tellus eu lectus maximus aliquet. Praesent blandit eros massa, vel facilisis urna viverra ac. Vestibulum feugiat sem quis condimentum condimentum. </p>

        {% include "components/_student-work-card.html" %}
    </div>
</div>
{% endblock %}