{% extends 'components/_base.html' %}
{% block content %}
    <header>
        <h1>{{ data.heading }}</h1>
        <p>{{ data.description }}</p>
        <a href="/" class="btn btn-primary">Interesse? Neem dan contact met ons op!</a>
    </header>
    <main>
        {% for member in data.members %}
            <article>
                <img src="{{ member.avatarURL }}">
                <div>
                    <h2>{{ member.fullName }}</h2>
                    <p>{{ member.description }}</p>
                    <a href="{{ member.gitHubURL }}" class="btn">{{ data.linkText }}</a>
                </div>
            </article>
        {% endfor %}
    </main>
{% endblock %}