{% extends "components/_base.html" %} {% block content %}
<nav class="submenu">
  <div class="container">
    <ul id="submenu-container">
      <li><button id="submenu-previous"><i class="fa fa-chevron-left"></i></button></li>
      <li><a href="#cssttr">CSS to the rescue</a></li>
      <li><a href="#wafs">Web app from scratch</a></li>
      <li><a href="#project1">Project 1</a></li>
      <li><a href="#bt">Browser technologies</a></li>
      <li><a href="#pm">Performance matters</a></li>
      <li><a href="#project2">Project 2</a></li>
      <li><a href="#wd">Web design</a></li>
      <li><a href="#tw">Real time web</a></li>
      <li><a href="#project3">Project 3</a></li>
      <li><a href="#wn">Weekly nerd</a></li>
      <li><a href="#mp">Master project</a></li>
      <li><button id="submenu-next"><i class="fa fa-chevron-right"></i></button></li>
    </ul>
  </div>
</nav>

<header>
  <div class="container">
    <h1>
      <span>{{ data.title }}</span>
    </h1>
    <p>{{ data.description | safe }}</p>
  </div>
</header>

{% include "components/_timeline.html" %} {% endblock %}