{% extends "components/_base.html" %}

{% block content %}

<main class="container">
    <h1>{{ data.title }}</h1>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut.</p>

    <a class="btn btn-primary" href="#timeline">Bekijk het programma</a>
    <a class="btn btn-primary btn-outline" href="#" >Download de PDF</a>
</main>

{% include "components/_timeline.html" %}

{% endblock %}