{% extends "components/_base.html" %} {% block content %}
<nav class="submenu">
  <div class="container">
    <ul id="submenu-container">
      <li><button id="submenu-previous"><i class="fa fa-chevron-left"></i></button></li>
      <li><a href="/program/css-to-the-rescue">CSS to the rescue</a></li>
      <li><a href="/program/web-app-from-scratch">Web app from scratch</a></li>
      <li><a href="/program/project-1">Project 1</a></li>
      <li><a href="/program/browser-technologies">Browser technologies</a></li>
      <li><a href="/program/performance-matters">Performance matters</a></li>
      <li><a href="/program/project-2">Project 2</a></li>
      <li><a href="/program/web-design">Web design</a></li>
      <li><a href="/program/real-time-web">Real time web</a></li>
      <li><a href="/program/project-3">Project 3</a></li>
      <li><a href="/program/weekly-nerd">Weekly nerd</a></li>
      <li><a href="/program/master-project">Master project</a></li>
      <li><button id="submenu-next"><i class="fa fa-chevron-right"></i></button></li>
    </ul>
  </div>
</nav>

<header class="program-header">
  <div class="container">
    <h1>
      <span>{{ data.title }}</span>
    </h1>
    <p>{{ data.description | safe }}</p>
  </div>
</header>

{% include "components/_timeline.html" %} {% endblock %}