{% extends 'components/_base.html' %} {% block content %}
<header>
  <div class="container">
    <h1>Enroll</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, natus placeat est molestiae et omnis magnam dolor consequatur
      blanditiis nostrum, quis possimus voluptates quas quisquam. Illo alias nesciunt beatae accusamus?</p>
  </div>
</header>
<main id="main" class="signup-wrapper container">
  <section>
    <div>
      <h2>Requirements</h2>
      <ul>
        <li>Basic JavaScript knowledge</li>
        <li>Basic Node knowledge</li>
        <li>Intermediate HTML/CSS knowledge</li>
        <li>The will to learn new stuff</li>
        <li>Have fun!</li>
      </ul>
      <h2>Information</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quae sapiente, tempora perspiciatis deserunt nobis fugit
        impedit, cupiditate voluptatum commodi excepturi. Repellat autem tempore at molestias, reiciendis omnis sapiente
        voluptas!
      </p>
      <h2>Students thoughts</h2>
      <blockquote>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit corrupti aliquid id velit. Quasi pariatur, exercitationem
        totam eaque itaque, dolor optio magni voluptatem doloribus at vitae iure qui corrupti ea!</blockquote>
    </div>
  </section>
  <form action="/" method="post" class="card">
    <h2>Apply now!</h2>
    <fieldset>
      <div>
        <input id="name" name="name" type="text" required>
        <label for="name">Your Name</label>
      </div>
      <div>
        <input id="email" name="email" type="email" required>
        <label for="email">Email Address</label>
      </div>
      <div>
        <input id="tel" name="tel" type="tel" required>
        <label for="tel">Phone</label>
      </div>
      <div>
        <input id="repo" name="repo" type="text" required>
        <label for="repo">Git Url</label>
      </div>
      <div>
        <input id="something" name="something" type="text" required>
        <label for="something">Something Else</label>
      </div>
      <input type="submit" class="btn-primary" value="I am ready!">
    </fieldset>
  </form>
</main>
{% endblock %}