{% extends 'components/_base.html' %} 
{% block content %}

<header>
    <div class="container">
        <h1>{{ data.heading }}</h1>
        <p>{{ data.description }}</p>

        <nav class="searchbar">
            <form action="/student-work" method="POST">

                <select name="archive" id="select-year">
                    <option value="all">All years</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>

                <select name="courses" id="select-course">
                    <option value="all">All courses</option>

                    <option value="wafs">Web app from scratch</option>
                    <option value="ccsttr">CSS to the rescue</option>
                    <option value="project1">Project 1</option>

                    <option value="pm">Performance matters</option>
                    <option value="bt">Browser technologies</option>
                    <option value="project2">Project 2</option>

                    <option value="wd">Web design</option>
                    <option value="rtw">Real time web</option>
                    <option value="project3">Project 3</option>

                    <option value="mp">Meesterproef</option>
                </select>

                <input type="text" placeholder="Search">
                <button type="submit">Filter</button>
            </form>
        </nav>
    </div>
</header>

<main>
    {% for course in data.courses %}
    <section class="course">
        <div class="container">
            <h2>{{ course.name }}</h2>

            <div class="student-work-list">
                {% for item in course.items %}
                <article class="student-work-card">
                    <h3>{{ item.heading }}</h3>
                    <img src="{{ item.imgUrl }}" alt="{{ item.imgAlt }}">
                    <ul>
                        <li>
                            <a class="focusable" href="{{ item.demoUrl }}" target="_blank">
                            <img src="/img/icons/play.svg" class="icon" alt="To demo icon">Demo</a>
                        </li>
                        <li>
                            <a class="focusable" href="{{ item.repoUrl }}" target="_blank">
                            <img src="/img/icons/github.svg" class="icon" alt="GitHub icon">Repo</a>
                        </li>
                    </ul>
                </article>
                {% endfor %}
            </div>

            <a href="#" class="btn-primary">Meer {{ course.name }}</a>
        </div>
    </section>
    {% endfor %}

</main>
{% endblock %}