{% extends "components/_base.html" %} {% block content %}
<header class="presentation-header">
  <div class="container">
    <h1><span>{{ data.title }}</span></h1>
    <p>{{ data.description }}</p>
    <ul class="teachers-list">
      <li>
        <a href="/">See Biography</a>
        <img class="avatar" src="{{ data.avatarUrl }}">
        <div>
            <h2>{{ data.speaker }}</h2>
            <p>{{ data.speakerRole }}</p>
        </div>
      </li>
    </ul>

    <a href="#presentation" class="btn btn-primary">
      <i class="fa fa-video"></i> Watch the video
    </a>
    <a href="#story" class="btn btn-secondary">
      <i class="fa fa-book"></i> Read the story
    </a>  
  </div>
</header>

<main>
  <section class="presentation" id="presentation">

    <div class="help">
      <p><span class="monospace"><img src="/img/icons/key-left.svg" alt="Arrow left"> / <img src="/img/icons/key-right.svg" alt="Arrow right"> / <img src="/img/icons/mouse-horizontal.svg" alt="Mouse left or right"> : </span>switch side of subtitles.</p>
      <p><span class="monospace"><img src="/img/icons/key-shift.svg" alt="Arrow left"> + <img src="/img/icons/key-space.svg" alt="Arrow right"> : </span>play/pause.</p>
    </div>

    <div class="media paused">
      <video src="{{ data.videoUrl }}"></video>
      <img class="current-slide" src="{{ data.presentationImg }}">
      <ul class="links"></ul>
      <button class="btn-media-control">
        <span class="shortcut">
          <img src="/img/icons/key-shift.svg" alt="Arrow left"> + <img src="/img/icons/key-space.svg" alt="Arrow right"></span>
        </span>
      </button>
      <h2 class="subtitle left"></h2>
    </div>  

    <div class="controls">
      <label for="set-speed">Speed</label>
      <select id="set-speed">
        <option value="0.25">0.25</option>
        <option value="0.5">0.5</option>
        <option value="0.75">0.75</option>
        <option value="1" selected>1</option>
        <option value="1.25">1.25</option>
        <option value="1.50">1.50</option>
      </select>

      <input class="seeker" type="range" min="0" max="99" value="0">
    </div>
    
    <div class="slides"></div>
  </section>

  <section class="presentation-summary" id="story">
    <div class="container">
      <h3>{{ data.title }}</h3>
      <p>Source: <a href="{{ data.source }}">Smashing Magazine</a></p>
      {% for paragraph in data.paragraphs %}
        <p>{{ paragraph }}</p>
      {% endfor %}
    </div>
  </section>
</main>

<script>
  subs = {{ data.subtitles | safe }};
  slides = {{ data.slides | safe }};
</script>

{% endblock %}