{% extends "components/_base.html" %} {% block content %}
<menu type=touch-bar>
  <menuitem>Test</menuitem>
</menu>

<header class="course-header">
  <div class="container grid">
    <div>
      <div>
        <h1>{{ data.title }}</h1>
        <p>{{ data.description }}</p>
        <ul class="teachers-list">
          <li>
            <a href="/">See Biography</a>
            <img class="avatar" src="{{ data.avatarUrl }}">
            <div>
              <h2>{{ data.speaker }}</h2>
              <p>{{ data.speakerRole }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="presentation" id="presentation">
    <div class="media paused">
      <video src="{{ data.videoUrl }}"></video>
      <img class="current-slide" src="{{ data.presentationImg }}">
      <button class="btn-media-control"></button>
      <h2 class="subtitle"></h2>
    </div>  

    <div class="controls">
      {# <button class="speed-down">Speed down</button> #}
      <label for="set-speed">Speed</label>
      <select id="set-speed">
        <option value="0.25">0.25</option>
        <option value="0.5">0.5</option>
        <option value="0.75">0.75</option>
        <option value="1" selected>1</option>
        <option value="1.25">1.25</option>
        <option value="1.50">1.50</option>
      </select>
      {# <button class="speed-up">Speed up</button> #}

      <input class="seeker" type="range" min="0" max="99" value="0">
    </div>
    
    <div class="slides"></div>
  </section>

  <section class="talk-summary">
    <div class="container">
      <h3>{{ data.title }} </h3>
      <p>{{ data.videoSummary }}</p>
    </div>
  </section>
</main>

<script>
  subs = {{ data.subtitles | safe }}
</script>
<script src="js/splitscreen-presentation.js"></script>

{% endblock %}